Author: Funsho Olaniyi

Goal of this notebook is to Explore Data and Make sure values are not missing then export it back

In [17]:
import pandas as pd
import numpy as np

Load Data

In [18]:
crop_production = pd.read_csv("../data/ghana_production_estimates.csv",encoding = "latin")

Preview Data

In [19]:
crop_production.head()

,REGION,DISTRICT,YEAR,CROP,AREA (HA),YIELD (MT/HA),PRODUCTION (MT)
0,WESTERN,SHAMA AHANTA EAST,1993,MAIZE,366.00,0.95,348.00
1,WESTERN,WEST AHANTA,1993,MAIZE,"1,513.00",1.00,"1,513.00"
2,WESTERN,MPORHOR WASSA EAST,1993,MAIZE,"2,948.00",1.08,"3,184.00"
3,WESTERN,WASSA WEST,1993,MAIZE,"3,672.00",1.00,"3,672.00"
4,WESTERN,EAST NZEMA,1993,MAIZE,"1,050.00",0.85,893.00

In [20]:
crop_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16075 entries, 0 to 16074
Data columns (total 7 columns):
REGION             16075 non-null object
DISTRICT           16075 non-null object
YEAR               16075 non-null int64
CROP               16075 non-null object
AREA (HA)          16075 non-null object
YIELD (MT/HA)      16047 non-null object
PRODUCTION (MT)    16072 non-null object
dtypes: int64(1), object(6)
memory usage: 879.2+ KB

Remove Spaces around column names, just to be sure

In [4]:
crop_production.columns = crop_production.columns.str.strip()

Preview Columns Data Types

In [5]:
crop_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16075 entries, 0 to 16074
Data columns (total 7 columns):
REGION             16075 non-null object
DISTRICT           16075 non-null object
YEAR               16075 non-null int64
CROP               16075 non-null object
AREA (HA)          16075 non-null object
YIELD (MT/HA)      16047 non-null object
PRODUCTION (MT)    16072 non-null object
dtypes: int64(1), object(6)
memory usage: 879.2+ KB

Two Problems
1 Some numeric columns have object data types and 
2 Some values are missing for yield and production columns

But first will strip values in the object columns of whitespaces and replace the ','

In [6]:
for column in crop_production.columns:
    if column != 'YEAR':
        crop_production[column] = crop_production[column].str.strip()
        crop_production[column] = crop_production[column].str.replace(',','')
        crop_production[column] = crop_production[column].replace('-',np.nan)

In [7]:
crop_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16075 entries, 0 to 16074
Data columns (total 7 columns):
REGION             16075 non-null object
DISTRICT           16075 non-null object
YEAR               16075 non-null int64
CROP               16075 non-null object
AREA (HA)          16075 non-null object
YIELD (MT/HA)      16002 non-null object
PRODUCTION (MT)    16002 non-null object
dtypes: int64(1), object(6)
memory usage: 879.2+ KB

Solving problem 2

In [8]:
crop_production = crop_production.dropna()

In [9]:
crop_production.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16002 entries, 0 to 16074
Data columns (total 7 columns):
REGION             16002 non-null object
DISTRICT           16002 non-null object
YEAR               16002 non-null int64
CROP               16002 non-null object
AREA (HA)          16002 non-null object
YIELD (MT/HA)      16002 non-null object
PRODUCTION (MT)    16002 non-null object
dtypes: int64(1), object(6)
memory usage: 1000.1+ KB

Solving problem 1

In [10]:
crop_production.loc[:,['AREA (HA)','YIELD (MT/HA)', 'PRODUCTION (MT)']] = crop_production.loc[:,['AREA (HA)','YIELD (MT/HA)', 'PRODUCTION (MT)']].astype(float)

In [11]:
crop_production.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16002 entries, 0 to 16074
Data columns (total 7 columns):
REGION             16002 non-null object
DISTRICT           16002 non-null object
YEAR               16002 non-null int64
CROP               16002 non-null object
AREA (HA)          16002 non-null float64
YIELD (MT/HA)      16002 non-null float64
PRODUCTION (MT)    16002 non-null float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1000.1+ KB

In [14]:
crop_production.index = np.arange(1, len(crop_production) + 1)

In [15]:
crop_production.index.name = 'S/N'

In [16]:
crop_production.to_csv('../data/cleaned_data.csv')