Author: Funsho Olaniyi

Goal of this notebook is to Explore Data and Make sure values are not missing

In [1]:
import pandas as pd

In [2]:
crop_production = pd.read_csv("../data/ghana_production_estimates.csv",encoding = "latin")

In [3]:
crop_production.head()

,REGION,DISTRICT,YEAR,CROP,AREA (HA),YIELD (MT/HA),PRODUCTION (MT)
0,WESTERN,SHAMA AHANTA EAST,1993,MAIZE,366.00,0.95,348.00
1,WESTERN,WEST AHANTA,1993,MAIZE,"1,513.00",1.00,"1,513.00"
2,WESTERN,MPORHOR WASSA EAST,1993,MAIZE,"2,948.00",1.08,"3,184.00"
3,WESTERN,WASSA WEST,1993,MAIZE,"3,672.00",1.00,"3,672.00"
4,WESTERN,EAST NZEMA,1993,MAIZE,"1,050.00",0.85,893.00

In [4]:
crop_production.columns = crop_production.columns.str.strip()

In [5]:
crop_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16075 entries, 0 to 16074
Data columns (total 7 columns):
REGION             16075 non-null object
DISTRICT           16075 non-null object
YEAR               16075 non-null int64
CROP               16075 non-null object
AREA (HA)          16075 non-null object
YIELD (MT/HA)      16047 non-null object
PRODUCTION (MT)    16072 non-null object
dtypes: int64(1), object(6)
memory usage: 879.2+ KB

               YEAR
count  16075.000000
mean    2006.869176
std        7.255439
min     1993.000000
25%     2001.000000
50%     2008.000000
75%     2013.000000
max     2017.000000